<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ActualizacionManual.Properties.Settings.Intermedia"
            connectionString="Data Source=10.0.0.22;Initial Catalog=Intermedia;Persist Security Info=True;User ID=sa;Password=alpha"
            providerName="System.Data.SqlClient" />
        <add name="ActualizacionManual.Properties.Settings.Log" connectionString="Data Source=10.0.0.22;Initial Catalog=Intermedia_Log;Persist Security Info=True;User ID=sa;Password=alpha"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>